{% extends '_master.html' %}
{% load static %}
{% block style %}
<style type='text/css'>
    @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

    .custom {
        margin-top: 100px;
        background-image: url({% static 'images/bc.png' %});
        background-position: center;
        background-size: cover;
        padding: 10px 0px 10px 0px;
        font-family: "Poppins", sans-serif;
    }

    .regform {
        width: 800px;
        background-color: #166ab5;
        margin: auto;
        color: #FFFFFF;
        padding: 10px 0px 10px 0px;
        text-align: center;
        border-radius: 15px 15px 0px 0px;
    }

    .main-form {
        width: 800px;
        margin: auto;
        background-color: rgb(0, 0, 0, 0.2);
        padding-top: 20px;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 20px;
        color: #F8F8F8;
        border-radius: 0px 0px 15px 15px;
        opacity: 0.6;
    }

    .form-group {
        margin-top: 5px;
        margin-bottom: 5px;
    }
</style>
{% endblock style %}
{% block content %}
<div class="custom">
    <div class='regform mt-3'>
        <h1>Breast Cancer Detection</h1>
    </div>

    <form action="{% url 'healthcure:resultbc' %}" class='main-form needs-validation' method="POST"
        enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row">
            <div class="col">
                <div class='form-group'>
                    <label for="firstname">Firstname</label>
                    {{form.first_name}}
                </div>
            </div>
            <div class="col">
                <div class='form-group'>
                    <label for="lastname">Lastname</label>
                    {{form.last_name}}
                </div>
            </div>
        </div>

        <div class="row">
            <div class='col'>
                <label for="phone">Phone No.</label>
                {{form.phone_number}}
            </div>


            <div class='col'>
                <label for="email">Email</label>
                {{form.email}}
            </div>
        </div>


        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label for="gender">Gender</label>
                    {{form.gender}}
                </div>
            </div>
            <div class="col">
                <div class='form-group'>
                    <label for="age">Age</label>
                    {{form.age}}
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label for="concave_points_mean">Concave Points Mean</label>
                    {{form.concave_points_mean}}
                </div>
            </div>
            <div class="col">
                <div class='form-group'>
                    <label for="area_mean">Area Mean</label>
                    {{form.area_mean}}
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label for="radius_mean">Radius Mean</label>
                    {{form.radius_mean}}
                </div>
            </div>
            <div class="col">
                <div class='form-group'>
                    <label for="perimeter_mean">Perimeter Mean</label>
                    {{form.perimeter_mean}}
                </div>
            </div>
            <div class="col">
                <div class='form-group'>
                    <label for="concavity_mean">Concavity Mean</label>
                    {{form.concavity_mean}}
                </div>
            </div>
        </div>
        <div class='text-center'>
            <button type='submit' class='btn btn-primary' style='width:700px;margin-top: 30px;'> Submit
            </button>
        </div>
    </form>
</div>
{% include 'footer.html' %}
{% endblock content %}