{% extends '_master.html' %}
{% load static %}
{% block style_login %}
<link rel="stylesheet" href="{% static 'assets/css/styles.min.css' %}" />
{% endblock style_login %}
{% block content %}

<div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
    style="top: 150px;">
    <!--  Main wrapper -->
    <div class="container-fluid d-flex align-items-center justify-content-center">
        <!--  Row 1 -->
        <div class="card" style="height: 50%; width: 70%;">
            <div class="card-body">
                <h5 class="card-title fw-semibold mb-4">Password reset sent</h5>
                <p>We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.</p>
                <p>If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.</p>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block extra_script %}
<script src="{% static 'assets/libs/jquery/dist/jquery.min.js' %}"></script>
<script src="{% static 'assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'assets/js/sidebarmenu.js' %}"></script>
<script src="{% static 'assets/js/app.min.js' %}"></script>
<script src="{% static 'assets/libs/apexcharts/dist/apexcharts.min.js' %}"></script>
<script src="{% static 'assets/libs/simplebar/dist/simplebar.js' %}"></script>
<script src="{% static 'assets/js/dashboard.js' %}"></script>
{% endblock extra_script %}
